<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-primary pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Ecommerce </a></li>
                        <li><a href="index1.html">Analytics </a></li>
                    </ul>
                </li>
                <li class="nav-label">Apps</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Email</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="email-compose.html">Compose</a></li>
                        <li><a href="email-read.html">Read</a></li>
                        <li><a href="email-inbox.html">Inbox</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Clients & Requsts</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="chart-flot.html">Clients</a></li>
                        <li><a href="chart-morris.html">Add New Client</a></li>

                    </ul>
                </li>
                <li class="nav-label">Management</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Products & Orders <span class="label label-rouded label-warning pull-right">6</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="ui-alert.html">New Product</a></li>
                        <li><a href="ui-button.html">Orders</a></li>
                        <li><a href="ui-dropdown.html">Revenue</a></li>

                    </ul>
                </li>
    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Projects <span class="label label-rouded label-danger pull-right">6</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="uc-calender.html">Projects</a></li>
                        <li><a href="uc-datamap.html">New Project</a></li>
                        <li><a href="uc-nestedable.html">Tasks</a></li>
                        <li><a href="uc-sweetalert.html">Calendar</a></li>

                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Social Media</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="form-basic.html">Paid Posts</a></li>
                        <li><a href="form-layout.html">Twitter</a></li>
                        <li><a href="form-validation.html">Facebook</a></li>
                        <li><a href="form-editor.html">Instagram</a></li>
                        <li><a href="form-dropzone.html">Medium</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Teams</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="table-bootstrap.html">Teams</a></li>
                        <li><a href="table-datatable.html">Add Team Member</a></li>
                    </ul>
                </li>
                <li class="nav-label">Events</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Events</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="layout-blank.html">New Event</a></li>
                        <li><a href="layout-boxed.html">Sehedule</a></li>
                        <li><a href="layout-fix-header.html">Fundraisers</a></li>
                        <li><a href="layout-fix-sidebar.html">Event Manager</a></li>
                    </ul>
                </li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->
