<!DOCTYPE html>
<html>
<head>
  <title>Streams:Your All In One Cloud Inventory </title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Streams All In One Online Inventory For Every User" />
  <meta name="description" content="Streams All In One Online Inventory For Everybody, for marketters, ecommerce, social media infleuncers, portfolio, developers and Enterprise companys, Your helpdesk for customer retention and management better than salesforce and easier to use">
  <meta name="author" content="Fortune Jakes from Zonia Solutions">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body class="fix-header fix-sidebar">

  <div id="main-wrapper">

      <div class="unix-login">
          <div class="container-fluid">
              <div class="row justify-content-center">
                  <div class="col-lg-4">
                      <div class="login-content card">
                          <div class="login-form">

                              <h4>Welcome To Streams</h4>


                              <%= yield %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
